/* nav */
nav .right-container > #btnCart{
    position: relative;
}

nav .right-container > #btnCart #Cart{
    position: absolute;
    color: black;
    font-size: 20px;
    font-weight: 500;
    top: -19px;
    right: -10px;
    z-index: 11111;
    opacity: 0;
    transition: var(--main-trans);
}

.ShowArrow{
    opacity: 1;
}

nav .right-container #CartContainer{
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100%;
    left: 0;
    top: -770px;
    z-index: 111111;
    opacity: 0;
    transition: 200ms;
    display: flex;
    justify-content: center;
    gap: 35px;
    padding-top: 80px!important;
    padding: 0px 20px;
    overflow-y: scroll;
}

nav .right-container #CartContainer::-webkit-scrollbar{
    width: 10%;
}

nav .right-container #CartContainer::-webkit-scrollbar-track{
    background-color: transparent;
}

nav .right-container #CartContainer::-webkit-scrollbar-thumb{
    background-color: transparent;
}

#spCounter{
    font-size: 18px;
    position: absolute;
    top: -18px;
    left: 60px;
    opacity: 0;
    transition: var(--main-trans);
}

nav .right-container #CartContainer #AppendProduct{
    border-radius: 3px;
}

nav .right-container #CartContainer .PurchaseInformation{
    transform: translateY(-10px);
}

nav .right-container #CartContainer .PurchaseInformation .Help-To-Pay{
    position: relative;
    width: 100%;
    height: auto;
    border: solid 1px #00000047;
    border-radius: 3px;
    padding-top: 37px!important;
    padding: 0px 15px;
    padding-bottom: 15px;
}

nav .right-container #CartContainer .PurchaseInformation .Help-To-Pay .translate-box{
position: absolute;
right: 10px;
top: 10px;
display: flex;
align-items: center;
gap: 5px;
}

nav .right-container #CartContainer .PurchaseInformation .Help-To-Pay .translate-box #translateBtn1{
    position: relative;
}

nav .right-container #CartContainer .PurchaseInformation .Help-To-Pay .translate-box #translateBtn2{
    position: absolute;
    z-index: 11111;
}

nav .right-container #CartContainer .PurchaseInformation .Help-To-Pay .translate-box #translateBtn1 i{
    color: var(--main-color);
    transition: var(--main-trans);
}

nav .right-container #CartContainer .PurchaseInformation .Help-To-Pay .translate-box #translateBtn2:hover i{
color: black
}

nav .right-container #CartContainer .PurchaseInformation .Help-To-Pay .translate-box #translateBtn1:hover i{
    color: black
}

nav .right-container #CartContainer .PurchaseInformation .Help-To-Pay .translate-box #translateBtn2 i{
    color: var(--main-color);
    transition: var(--main-trans);
}

nav .right-container #CartContainer .PurchaseInformation .Help-To-Pay .translate-box #languages{
    font-size: 18px;
    font-weight: 500;
}

nav .right-container #CartContainer .PurchaseInformation .Help-To-Pay h3{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 30px;
}

nav .right-container #CartContainer .PurchaseInformation .Help-To-Pay .advice{
    padding-top: 6px;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 17px;
    color: #000000;
}

nav .right-container #CartContainer .PurchaseInformation .Help-To-Pay .steps{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 10px;
}

nav .right-container #CartContainer .PurchaseInformation .Help-To-Pay .steps > div{
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    gap: 13px;
    padding: 0px 10px;
    padding-top: 5px;
    transition: var(--main-trans);
    cursor: pointer;
}

.heightStip{
    height: 90px!important;
    cursor: default!important;
}

nav .right-container #CartContainer .PurchaseInformation .Help-To-Pay .steps .p-1{
    position: relative;
    color: black;
    font-size: 20px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
}

nav .right-container #CartContainer .PurchaseInformation .Help-To-Pay .steps .p-1 .sp1{
    background-color: black;
    color: white;
    padding: 3px 5px;
    font-weight: 600;
    border-radius: 3px;
    transition: var(--main-trans);
    margin-right: 5px;
}

.ChangeColor{
    background-color: var(--main-color)!important;
}

nav .right-container #CartContainer .PurchaseInformation .Help-To-Pay .steps .p-1 .sp-2{
    position: absolute;
    right: 5px;
    font-size: 17px;
    transition: var(--main-trans);
}

.rotateSp2{
    transform: rotate(180deg);
}

nav .right-container #CartContainer .PurchaseInformation .Help-To-Pay .steps .p-2{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: var(--second-color);
    font-weight: 700;
    line-height: 20px;
    display: none;
}

.ShowP{
    display: block!important;
    cursor: text!important;
}

nav .right-container #CartContainer .PurchaseInformation > p{
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 25px;
    width: fit-content;
    margin: 0 auto;
}

nav .right-container #CartContainer .PurchaseInformation .Payment-Gateway{
    display: flex;
    margin: 0 auto;
    width: fit-content;
}

nav .right-container #CartContainer .PurchaseInformation .Payment-Gateway .top-container{
    display: flex;
    align-items: center;
    gap: 10px;   display: flex;
}

nav .right-container #CartContainer .PurchaseInformation .Payment-Gateway a{
    display: flex;
    align-items: center;
    color: black;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    transition: var(--main-trans);
    width: 245px;
}

nav .right-container #CartContainer .PurchaseInformation .Payment-Gateway a:hover{
    color: var(--second-color);
}

nav .right-container #CartContainer .PurchaseInformation .Payment-Gateway .Payment-Gateway-1 a i{
    margin-right: 13px;
    color: var(--main-color);
    font-size: 50px;
}

nav .right-container #CartContainer .PurchaseInformation .Payment-Gateway .Payment-Gateway-2 a img{
    width: 150px;
    height: 150px;
}

.ShowCartContainer{
    top: 0!important;
    opacity: 1!important;
}

nav .right-container #CartContainer #CloseCart{
    position: absolute;
    right: 19px;
    top: 30px;
}

nav .right-container #CartContainer #CloseCart i{
    color: var(--second-color);
    font-size: 30px;
    transition: var(--main-trans);
}

nav .right-container #CartContainer #CloseCart:hover i{
    color: #0000008a;
} 
/* start-main-steam */
.Steam-Games{
    display: grid;
    grid-template-columns: repeat(2,370px);
    grid-template-rows: repeat(5,510px);
    justify-content: center;
    row-gap: 40px;
    column-gap: 15px;
    margin-top: 40px;
    position: relative;
}

.Steam-Games > div{
    position: relative;
    box-shadow: 0px 0px 10px #00000038;
    border-radius: 5px;
}

.Steam-Games > div .rated{
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px 10px;
    background: var(--main-color);
    border-radius: 2px;
}

.Steam-Games > div .rated i{
    color: white;
}

.Steam-Games > div .rated .rateMe{
    color: white;
}

.Steam-Games > div .container-text{
    background: white;
    position: absolute;
    bottom: -18px;
    width: 100%;
    display: flex;
    height: 110px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 2px;
}

.Steam-Games > div .container-text .first-txt{
    display: flex;
    gap: 10px;
}

.Steam-Games > div .container-text .first-txt .p-1{
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #000000b8;
}

.Steam-Games > div .container-text .first-txt .p-2{
    font-size: 15px;
    font-weight: 600;
}

.Steam-Games > div .container-text .second-txt{
display: flex;
gap: 8px;
}

.Steam-Games > div .container-text .second-txt .rate i{
    font-size: 20px;
    transition: var(--main-trans);
}

.Steam-Games > div .container-text .second-txt .Rotate i{
    font-size: 20px;
    transition: var(--main-trans);
}

.Steam-Games > div > img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.Steam-Games .saleContainer{
    background-color: white;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: 600ms;
    z-index: -1111;
    opacity: 0;
    border-radius: 5px;
}

.ShowSaleContainer{
    z-index: 1111!important;
    opacity: 1!important;
}

.Steam-Games div .saleContainer img{
    width: 320px;
    height: 250px;
    border-radius: 4px;
}

.Steam-Games .saleContainer .top-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.Steam-Games .saleContainer .top-container p{
    font-size: 17px;
    font-weight: 600;
}

.Steam-Games .saleContainer .bottom-container{
    display: flex;
    gap: 10px;
    margin-top: 12px;
    position: relative;
    width: 100%;
    justify-content: center;
}

.Steam-Games .saleContainer .bottom-container .decrement{
    font-size: 17px;
    background-color: #ff0000d1;
    border-radius: 4px;
    color: white;
    padding: 0px 8px 0px 8px;
    transition: var(--main-trans);
}

.Steam-Games .saleContainer .bottom-container .decrement:hover{
    background-color: #00000094;
}

.Steam-Games .saleContainer .bottom-container .SaleBtn i{
    color: black;
    font-size: 25px;
    transition: var(--main-trans);
}

.Steam-Games .saleContainer .bottom-container .SaleBtn:hover i{
    color: #000000b3;
}

.Steam-Games .saleContainer .bottom-container .back1{
    color: white;
    font-size: 15px;
    background: black;
    border-radius: 4px;
    padding: 5px 5px;
    font-weight: 600;
    transition: var(--main-trans);
}

.Steam-Games .saleContainer .bottom-container .back1:hover{
    background: #000000b3;
}

.Steam-Games .saleContainer .prices-container{
    position: absolute;
    bottom: -6px;
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    column-gap: 20px;
    row-gap: 3px;
    justify-content: center;
}

.Steam-Games .saleContainer .prices-container .spanPrice{
    font-size: 15px;
    color: black;
    font-weight: 600;
    cursor: pointer;
}

.Steam-Games .saleContainer .prices-container .spanPrice .text{
    font-size: 13px;
    color: var(--fourth-color);
}


/* (min-width:200px) and (max-width: 600px) */
@media (min-width:200px) and (max-width: 600px){
  .Steam-Games {
        display: grid;
        grid-template-columns: repeat(1,250px);
        grid-template-rows: repeat(10,420px);
        justify-content: center;
        row-gap: 30px;
        column-gap: 25px;
        margin-top: 15px;
        position: relative;
    }

    .Steam-Games > div .container-text .first-txt {
        gap: 8px;
        flex-direction: column;
        align-items: center;
    }

    .Steam-Games > div .container-text .first-txt .p-1 {
        font-size: 14px;
    }

    .Steam-Games div .saleContainer img {
        width: 230px;
        height: 200px;
    }

    .Steam-Games .saleContainer .prices-container {
        bottom: -10px;
    }

}

/* (min-width:200px) and (max-width: 983px) */
@media (min-width:200px) and (max-width: 983px){

/* CartContainer */

nav .right-container #CartContainer {
    width: 100%;
    height: 100%;
    left: 0;
    display: grid;
    justify-content: center;
    gap: 0px;
    padding-top: 80px!important;
    padding: 0px 20px;
    flex-direction: column-reverse;
}

nav .right-container #CartContainer .PurchaseInformation .Payment-Gateway .top-container {
align-items: center;
gap: 10px;
flex-direction: column;
}

nav .right-container #CartContainer .PurchaseInformation .Help-To-Pay .steps .p-1 {
font-size: 12px;
}

nav .right-container #CartContainer .PurchaseInformation .Help-To-Pay .steps .p-2 {
font-size: 11px;
}

nav .right-container #CartContainer .PurchaseInformation .Help-To-Pay .advice {
font-size: 16px;
}

nav .right-container #CartContainer .PurchaseInformation .Help-To-Pay h3 {
font-size: 30px;
}

nav .right-container #CartContainer .PurchaseInformation > p {
font-weight: 700;
font-size: 22px;
position: relative;
bottom: 10px;
padding-top: 22px
}

nav .right-container #CartContainer .PurchaseInformation .Payment-Gateway .top-container {
align-items: center;
gap: 0;
flex-direction: column;
margin-top: 20px;
justify-content: center;
}

nav .right-container #CartContainer .PurchaseInformation .Payment-Gateway-2 a{
position: relative;
right: 16px;
} 

nav .right-container #CartContainer .PurchaseInformation {
    transform: translateY(60px);
}
}

/* (min-width:601px) and (max-width: 800px) */
@media (min-width:601px) and (max-width: 800px){
    .Steam-Games {
        display: grid;
        grid-template-columns: repeat(2,270px);
        grid-template-rows: repeat(10,420px);
        justify-content: center;
        row-gap: 30px;
        column-gap: 20px;
        margin-top: 15px;
        position: relative;
      }
  
      .Steam-Games > div .container-text .first-txt {
          gap: 8px;
          flex-direction: column;
          align-items: center;
      }
  
      .Steam-Games > div .container-text .first-txt .p-1 {
          font-size: 14px;
      }
  
      .Steam-Games div .saleContainer img {
          width: 230px;
          height: 200px;
      }
  
      .Steam-Games .saleContainer .prices-container {
          bottom: -10px;
      }
  }
/* end-main-steam */

/* footer */

footer{
    opacity: 1!important;
}

/* contact-Us */

#contactUs{
    opacity: 1!important;
}